.tern-port
/model
/transform
/state
/view
/history
/collab
/commands
/inputrules
/keymap
/schema-basic
/schema-list
/schema-table
/menu
/markdown
/dropcursor
/test-builder
/gapcursor
/changeset
/website
/example-setup
/tables
/notes.txt
/yarn.lock
/bin/.pm-dev.pid

# dependencies
node_modules

# testing
coverage

# production
build
main.css

# misc
.DS_Store
.env
.vscode

npm-debug.log
.idea

*.log